html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background-image: linear-gradient(to bottom right, white, aqua);
  font-family: "Roboto", sans-serif;
}

button {
  outline: none;
  padding: 1rem 2rem;
  margin: 0px auto 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  color: #000;
  font-weight: 600;
  font-size: 2rem;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 750px;
  max-width: 90vw;
  height: 900px;
  margin-top: 2rem;
  max-height: 90vh;
  padding: 2rem 0;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 10px 10px 20px 2px rgb(30, 124, 124);
}

select {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  max-width: 50%;
  min-width: 300px;
  margin: 0 auto;
}
