button {
  outline: none;
  padding: 1rem 2rem;
  margin: 0px auto 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  color: #000;
  font-weight: 600;
  font-size: 1.8rem;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.button--primary {
  background-color: rgb(95, 108, 180);
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.button--secondary {
  background-color: rgb(3, 113, 128);
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.button--textonly {
  background-color: transparent;
  box-shadow: none;
  font-size: 1.5rem;
  font-weight: 200;
  color: green;
  padding: 0;
  &:hover {
    text-decoration: underline;
  }
}

.button--textdanger {
  color: red;
}

@media only screen and (max-width: 700px) {
  .button--textonly {
    font-size: 1.9rem;
    font-weight: 600;
  }
}
