.button--primary {
  background-color: rgb(95, 108, 180);
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}

.button--secondary {
  background-color: rgb(3, 113, 128);
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}
