.todoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 5rem;
  overflow-y: scroll;
  &__todo {
    margin-top: 0rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;

    &:not(last-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    &:nth-of-type(even) {
      background-color: rgb(233, 233, 233);
    }
  }

  &__controls {
    margin-left: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    & i {
      margin: 10px;
      font-size: 20px;
    }
    & .fa-pencil-alt {
      transition: all 1s;
      &:hover {
        transform: scale(2);
      }
    }

    & .fa-minus-circle {
      color: red;
      transition: all 1s;
      &:hover {
        transform: scale(2) rotate(180deg);
      }
    }
  }
  &__text {
    margin-left: 2rem;
  }

  &__input--new {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.item-checkbox:checked + .todoList__text {
  text-decoration: line-through;
  opacity: 0.3;
}
